.furniture-details {
  background: #efeff3;
  padding: 25px;
  width: 100%;
}

.furniture-img {
  height: 29vmax;
  width: 36vmax;
}

.furniture-details .furniture-title {
  cursor: pointer;
  color: #3591ca;
  font-weight: 800;
}

.furniture-details .furniture-dis {
  cursor: pointer;
  width: 40vmax;
  color: black;
  font-weight: 600;
}

.furniture-details .furniture-rent {
  background: #3591ca;
  border: none;
  border-radius: 7px;
  text-align: center;
  width: 27%;
  padding: 10px;
  color: #efeff3;
  font-weight: 600;
  cursor: pointer;
}

.furniture-details .furniture-icon {
  color: black;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  border-left: 3px solid #3591ca;
}

.furniture-date {
  background: #222831;
  width: 100%;

  padding: 20px;
  height: max-content;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.furniture-date .furniture-date-text {
  width: 33%;
  color: #efeff3;
  font-size: 1.8vmax;
  font-weight: 700;
}

.furniture-date .furniture-range-picker {
  width: 35vmax;
  height: 3vmax;
  background-color: #efeff3;
  color: #efeff3;
  font-size: 1.5vmax;
  font-weight: 500;
  border-radius: 7px;
  padding: 1.1vmax;
}

.furniture-date .furniture-range-picker::target-text {
  /* border: 7px solid #3591ca; */
  color: red;

}

.furniture-date .furniture-book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #efeff3;
  font-size: 1.5vmax;
  font-weight: 700;
  width: 35%;
  border-radius: 7px;
  padding: 1.1vmax;
  background-color: #3591ca;
  margin: 10px;
}

.furniture-date .furniture-book-details h4 {
    font-weight: 700;
    font-style: italic;
    color: #3591ca;
}

.furniture-date .furniture-book-btn {
  text-decoration: none;
  /* width: 12%; */
  background: #3591ca;
  color: #efeff3;
  border-radius: 7px;
  padding: 1vmax;
  border: none;
  /* border: 3px solid #efeff3; */
}

/* .book-now-furniture{
  font-weight: 600;
}
.book-now-furniture:hover{
  opacity: .8;
  background-color: #3591ca;
  color: #222831;
  transition: .6s all ease-in-out;
} */

@media (max-width:530px) {

  .furniture-details{
    display: flex;
    flex-direction: column;
  }
  .furniture-rent{
    margin-top: 2vh;
  }
  .furniture-date,.furniture-book-btn{
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .furniture-date .furniture-date-text {
    width: 100%;
    color: #efeff3;
    margin-bottom: 2vh;
    font-size: 2vmax;
    margin-top: 2vh;
    font-weight: 700;
  }
  
.furniture-date .furniture-book-btn {
  text-decoration: none;
  margin: 2vh 10% 10% 10%;
  width: 80%;
  background: #3591ca;
  color: #efeff3;
  border-radius: 7px;
  padding: 1vmax;
  border: none;
  /* border: 3px solid #efeff3; */
}
.furniture-date .furniture-range-picker{

  height: 4vh;
  width: 80%;
}
}

.book-now-furniture a{
  text-decoration: none;
}